In [1]:
import pandas as pd
import numpy as np

In [12]:
# read an excel file into a pandas dataframe
df_gitcoin = pd.read_csv('example output table (beta) - OSS_output.csv')
df_gitcoin.head()

,projectid,project_title,supporterwallet,txnhash,token,amount,exchangerate,createdat,votecoefficient,updatedat,passportscore,passportpass,communityid
0,0x43b94c544e8ac90c535752b8624e730820a5a752b361...,0xDeadList,0x0000ce08fa224696a819877070bf378e8b131acf,BQj2X5eUySHjbCCKVJwccn4AJjc88GFMJYyMWKkh13wD,ETH,0.00500,1.000,2023-01-20 12:52:59,0,2023-03-11,37.45,1.0,13
1,0x43b94c544e8ac90c535752b8624e730820a5a752b361...,0xDeadList,0x000f38c11de32df3bfd065c37eec99a00a42546f,DU9MUuAj7YNtamSETC1tGT1jiSrCCoQNrXUy9y3ufou7,ETH,0.00300,1.000,2023-01-31 6:11:47,0,2023-03-11,26.08,1.0,13
2,0x43b94c544e8ac90c535752b8624e730820a5a752b361...,0xDeadList,0x0096c09d8a12c9e252c0dc5d84c29d60eb6d6aa9,3yuG9Pxa9SysnBSWyw9Zc7f7MdAYU2EAhPXr3YdSGh4A,DAI,0.00065,1539.515,2023-01-31 3:32:35,0,2023-03-11,23.63,1.0,13
3,0x43b94c544e8ac90c535752b8624e730820a5a752b361...,0xDeadList,0x0122c0c70ec38df1658402d412e27b2553e2cfab,4uPYERs3U5Cpv2pG2FVRL8UrJtpToUxXK9ihJcQWJPkD,ETH,0.00500,1.000,2023-01-17 17:29:59,0,2023-03-11,NaN,NaN,13
4,0x43b94c544e8ac90c535752b8624e730820a5a752b361...,0xDeadList,0x031a90949a88c68373a6b3a359dfb33d7fb20b3b,EPdAeZEC129S9LMzkCiizZuDLT9GxpjUvFV4Rv9fV94S,ETH,0.00100,1.000,2023-01-30 4:16:59,0,2023-03-11,22.53,1.0,13

In [13]:
# get table of valid tec holders
# extracted from https://dune.com/queries/2457553/4040451
df_tec = pd.read_csv('tec_holders.csv')
df_tec.head()

                                      address        balance  tec_tokens_flag
0  0x38dfd788db4cfab7b9da57b06cfc06c6e0f33c3b  150071.717791                1
1  0x5b7575494b1e28974efe6ea71ec569b34958f72e  106053.271906                1
2  0x839395e20bbb182fa440d08f850e6c7a8f6f0780   73838.661487                1
3  0xdf290293c4a4d6ebe38fd7085d7721041f927e0a   69337.513233                1
4  0x45602bfba960277bf917c1b2007d1f03d7bd29e4   59165.981018                1

In [14]:
# get table of te academy token holders
# extracted from https://dune.com/queries/2457581
df_tea = pd.read_csv('tea_holders.csv')
df_tea.head()

                                       wallet  balance  tea_flag
0  0x68f6f2db8d5d28fb7d837675781c2d391f5f02c0        1         1
1  0x3e0cf03f718520f30300266dcf4db50ba12d3331        5         1
2  0x1d1874f9bcea4400a6a3ed85353bf19a764534e5        1         1
3  0x4daa278b8f90b86fb70859051911003790f4de57        3         1
4  0xc710f3da5ea5ae7b060166942185458c60c0434f        3         1

In [23]:
# left join the three tables
df_merge = df_gitcoin\
    .merge(df_tec, left_on='supporterwallet', right_on='address',how='left')\
    .merge(df_tea, left_on='supporterwallet', right_on='wallet',how='left')
df_merge.head()

,projectid,project_title,supporterwallet,txnhash,token,amount,exchangerate,createdat,votecoefficient,updatedat,passportscore,passportpass,communityid,address,balance_x,tec_tokens_flag,wallet,balance_y,tea_flag
0,0x43b94c544e8ac90c535752b8624e730820a5a752b361...,0xDeadList,0x0000ce08fa224696a819877070bf378e8b131acf,BQj2X5eUySHjbCCKVJwccn4AJjc88GFMJYyMWKkh13wD,ETH,0.00500,1.000,2023-01-20 12:52:59,0,2023-03-11,37.45,1.0,13,NaN,NaN,NaN,NaN,NaN,NaN
1,0x43b94c544e8ac90c535752b8624e730820a5a752b361...,0xDeadList,0x000f38c11de32df3bfd065c37eec99a00a42546f,DU9MUuAj7YNtamSETC1tGT1jiSrCCoQNrXUy9y3ufou7,ETH,0.00300,1.000,2023-01-31 6:11:47,0,2023-03-11,26.08,1.0,13,NaN,NaN,NaN,NaN,NaN,NaN
2,0x43b94c544e8ac90c535752b8624e730820a5a752b361...,0xDeadList,0x0096c09d8a12c9e252c0dc5d84c29d60eb6d6aa9,3yuG9Pxa9SysnBSWyw9Zc7f7MdAYU2EAhPXr3YdSGh4A,DAI,0.00065,1539.515,2023-01-31 3:32:35,0,2023-03-11,23.63,1.0,13,NaN,NaN,NaN,NaN,NaN,NaN
3,0x43b94c544e8ac90c535752b8624e730820a5a752b361...,0xDeadList,0x0122c0c70ec38df1658402d412e27b2553e2cfab,4uPYERs3U5Cpv2pG2FVRL8UrJtpToUxXK9ihJcQWJPkD,ETH,0.00500,1.000,2023-01-17 17:29:59,0,2023-03-11,NaN,NaN,13,NaN,NaN,NaN,NaN,NaN,NaN
4,0x43b94c544e8ac90c535752b8624e730820a5a752b361...,0xDeadList,0x031a90949a88c68373a6b3a359dfb33d7fb20b3b,EPdAeZEC129S9LMzkCiizZuDLT9GxpjUvFV4Rv9fV94S,ETH,0.00100,1.000,2023-01-30 4:16:59,0,2023-03-11,22.53,1.0,13,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
# filter out the rows where the supporterwallet is not in the tec or tea holders list
# df_merge = df_merge[df_merge['address'].notna() | df_merge['wallet'].notna()]
# df_merge.head()

In [ ]:
# QF? any other multiplier etc. aggregate to payout by projectid

In [ ]:
# format the values for Gnosis Safe